version: "3.9"

services:
  plant_frontend:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /usr/src/app/webPage
    command: sh -c "npm install --no-audit --no-fund && npm run dev"
    volumes:
      - ./webPage:/usr/src/app/webPage
      - ./plant:/usr/src/app/plant
      - plant_node_modules:/usr/src/app/webPage/node_modules
    ports:
      - "3000:3000"
      - "3001:3001"
    environment:
      CHOKIDAR_USEPOLLING: "true"

  api_backend:
    build:
      context: ./api-cop16
    ports:
      - "5003:5000"

volumes:
  plant_node_modules:
