services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /usr/src/app/webPage
    command: sh -c "npm install --no-audit --no-fund && npm run dev"
    volumes:
      - ./webPage:/usr/src/app/webPage
      - ./plant:/usr/src/app/plant
      - node_modules:/usr/src/app/webPage/node_modules
    ports:
      - "3000:3000"
      - "3001:3001"
    environment:
      CHOKIDAR_USEPOLLING: "true"
volumes:
  node_modules:
