body {
    background-color: #177cff;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    font-family: "Fredoka", sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards, fadeBg 1s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeBg {
    from {
      background-color: rgb(5, 66, 146);
    }
    to {
      background-color: #177cff;
    }
  }

  h1 {
    color: #FFFFFF; /*FD9C0E*/
    font-size: 165px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur-radius, color */

    /*text-shadow: 
        -5px -5px 0 #fff,  
         5px -5px 0 #fff,
        -5px  5px 0 #fff,
         5px  5px 0 #fff;*/
    overflow: hidden;
    border-right: 4px solid orange;
    white-space: nowrap; 
    letter-spacing: 4px;
    margin: 0 auto;
    animation: 
      escribir 2s steps(9, end),  
      cursor_parpadeando 0.5s step-end infinite;
  }
  
  @keyframes escribir {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes cursor_parpadeando {
    from, to { border-color: transparent }
    50% { border-color: black}
  }

  .burst-container {
    position: relative;
    position: relative;
    text-align: center;
  }

  .burst-text {
    color: #00BF63;
    font-size: 40px;
    /*font-weight: bold;
    letter-spacing: 5px;*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur-radius, color */
    animation: burst 1s ease-out forwards;
  }

  .fade-in-text {
    opacity: 0;
    animation: fadeIn 1s ease-out 2.5s forwards; /* Animation will start after 3 seconds */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.designBtn{
  /*background-color: #00BF63;*/
  color: white;
  border: 2px solid white;
}

.designBtn:hover{
  background-color: #00BF63 !important;
  color: white !important;
  border: 2px solid white;
}

.highlight {
  color: #00BF63; /* Cambia este color al que prefieras */
}

.myBtn{
  opacity: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur-radius, color */
  animation: fadeIn 1s ease-out 4s forwards; /* Animation will start after 3 seconds */
  animation-delay: 3s;
}